<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <data>

      <!-- GLOBAL -->

      <template id="assets_backend" name="bedit_ecoles_assets" inherit_id="web.assets_backend">
          <xpath expr="." position="inside">
              <script type="text/javascript" src="/bedit_ecoles/static/src/js/bedit_ecoles.js"/>
          </xpath>
      </template>

    </data>
</odoo>
